{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<h1>Create Program</h1>
<br>


  <section class="section">
      <div class="container">
          <div class="row align-items-center mt-5">
              <div class="col-lg-6">
  <form  method="post" class="contact-form" mt-4enctype='multipart/form-data' >
    {% csrf_token %}
    {{ form.as_p }}
    <button class = "btn btn-secondary">Create</button>

      </div>
    </div>
  </div>
</section>

<!-- </form> -->
{% else %}
  Please Log in first.
{% endif %}

{% endblock %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


        <!-- Switcher Js -->
        <script src="{% static 'js/pages/switcher.init.js' %}"></script>

        <!-- Contact Js -->
        <script src="{% static 'js/pages/contact.js' %}"></script>

        <!-- App Js -->
        <script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
