{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Apply{% endblock title %}
{% load static %}
{% block content %}

        <!-- Start home -->
        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">Apply</h3>
                            <div class="page-next">
                                <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"> Job Details </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- end home -->
        <!-- START SHAPE -->
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                        d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                </svg>
            </div>
        </div>
        <!-- END SHAPE -->
        <!-- START JOB-DEATILS -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                            <div>
                                <img src="{% static 'images/job-detail.jpg' %}" alt="" class="img-fluid">
                                <div class="job-details-compnay-profile">
                                    <img src="{% static 'images/featured-job/img-10.png' %}" alt="" class="img-fluid rounded-3 rounded-3">
                                </div>
                            </div>

                      <h1> Apply </h1>
                      <br>
                      {% if submitted %}
                          Your Application Was Submitted Successfully

                      {% else %}
                      <h1>Program: {{program}}</h1>
                      <h1>University: {{program.uni}}</h1>
                      <form class="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <input type="submit"  value="Submit" class="btn btn-secondary ">

                      </form>
                      {% endif %}
                    </div><!--end col-->
                  </div><!--end row-->
                </div><!--end container-->
              </section>



{% endblock %}
{% block javascript %}

        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

        <!-- Switcher Js -->
        <script src="{% static 'js/pages/switcher.init.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
